<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Noble Blend Cafe</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-VeNc64xjTj+BmxLLTwCEthb7nZjOT5p4XcR0qxQu20xdTDuE8nq8Iu0xR3dDJbm0ko9JvnXwOn1y5WJj9KqTNg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" href="..img/logo.png" type="image/png">
  <link rel="stylesheet" href="../css/sobrenos.css">
</head>
<body>
    <section class="sobre-nos">
  <div class="conteudo">
    <h2>SOBRE NÓS</h2>
    <p>
      Neste lugar damos as boas-vindas aos apreciadores de uma experiência única e nobre.
      Oferecemos uma seleção exclusiva de grãos de café de alta qualidade, bem como cafés
      especiais preparados com perfeição.
      Além disso, nossos acompanhamentos gourmet complementam perfeitamente cada xícara,
      criando harmonias de sabor inesquecíveis. Convidamos você a descobrir novas sensações
      a cada visita.
    </p>
    <h3>Venha conhecer nossos estabelecimentos!</h3>
    <div class="local">
        <div class="card-local">
            <img src="../img/fundo-hero.png" alt="Foto do café">
            <div class="endereco">
            <span>📍 Avenida Juscelino Kubitschek, 1909</span>
            </div>
        </div>
    </div>
  </div>
</section>
</body>
</html>